/* styles/globals.css */
:root {
  --background-color1: #0d1b2a;
  --background-color2: #1b263b;
  --background-color3: #415a77;
  --background-color4: #778da9;
  --primary-color: #ee9b00;
  --secondary-color: #ee9b00;
  --accent-color: #ff9100;
  --button-hover-color: #eb5e28;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
